body{
    background: #e5e5e5;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color:#25282b;
    
    margin:0;
}


#container {
    width:90%; /* menor 980px, seja 90% da pagina */
    max-width: 980px;

    margin: 40px auto; /* 40px em cima e embaixo e auto nas laterais*/    
    
    display: flex; /* as div's child  ficam em linha  */
}

#intro {
    width: 300px;
    margin-right: 20px;
}

main{
    margin:32px 0; /* 32px em cima e embaixo */
}

#buttons {
    display: flex;
    margin-bottom: 32px;
    justify-content: space-evenly;
}

button {
    color:#ff5e84;
    border:none;
    font-weight: bold;
    background: none;
    cursor: pointer;
    outline: none;
}

button:hover {
    text-decoration: underline;
}


button.fat {
    color: #fff;
    background: #ff5e84;
    width:150px;
    height:40px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.3);
}

button.fat:hover{
    text-decoration: none;
}


footer {
    text-align: center;
}


footer a {
    color: #25282b;
    text-decoration: none;
}


.hide {
    display: none;
}


