body{
    background: #e5e5e5;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color:#25282b;
    text-align: center;
}


#container {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}

button {
    color:#ff5e84;
    border:none;
    font-weight: bold;
}


.fat {
    color: #fff;
    background: #ff5e84;
}

#footer a {
    color: #25282b;
    text-decoration: none;
}


.hide {
    display: none;
}


